/* COLORS
.teal-l    {color:#1ABC9C;}
.teal      {color:#16A085;}
.green-l   {color:#2ECC71;}
.green     {color:#27AE60;}
.blue-l    {color:#3498DB;}
.blue      {color:#2980B9;}
.purple-l  {color:#9B59B6;}
.purple    {color:#8E44AD;}
.steel-l   {color:#34495E;}
.steel     {color:#2C3E50;}
.yellow-l  {color:#F1C40F;}
.yellow    {color:#F39C12;}
.orange-l  {color:#E67E22;}
.orange    {color:#D35400;}
.red-l     {color:#E74C3C;}
.red       {color:#C0392B;}
.silver-l  {color:#ECF0F1;}
.silver    {color:#BDC3C7;}
.grey-l    {color:#95A5A6;}
.grey      {color:#7F8C8D;}
*/

[data-schematic]{
	display :none !important;
}

html{

}

body{

}

h1{
	font-size: 2em;
	margin-top: 10px;
	margin-bottom: 15px;
}

h2{
	font-size: 1.5em;
	font-weight: 900;
	margin-bottom: 15px;
	margin-top: 10px;
}

h3{
	font-size: 1em;
	font-weight: 900;
	margin-top: 5px;
	margin-bottom: 7px;
}

p{
	margin-bottom: 1em;
	line-height: 1.5em;
	font-size: 16px;
	color: #333333;

}

code{
	font-family: 'Courier', mono;
	color:black;
	white-space: pre;
	background-color: #F8F8F8;
}

a{
	color : inherit;
}

a:hover{
	font-weight: bold;
}

strong{
	font-weight: bold;
}


/* BUTTONS */

.btn{
	cursor: pointer;
	display: inline-block;
	padding: 0.6em;
	color:white;
	font-size: 16px;
}

/*
.btn i, .btn-large i{
	font-size   : 1.5em;
	margin-right: 0.2em;
	line-height : 0.5em;
}
*/

.btn.large{
	font-size: 35px;
	font-weight: 900;
}


.btn.teal:hover         {background-color:#1ABC9C;}
.btn.teal               {background-color:#16A085;}
.btn.green:hover        {background-color:#2ECC71;}
.btn.green              {background-color:#27AE60;}
.btn.blue:hover         {background-color:#3498DB;}
.btn.blue               {background-color:#2980B9;}
.btn.purple:hover       {background-color:#9B59B6;}
.btn.purple             {background-color:#8E44AD;}
.btn.steel:hover        {background-color:#34495E;}
.btn.steel              {background-color:#2C3E50;}
.btn.yellow:hover       {background-color:#F1C40F;}
.btn.yellow             {background-color:#F39C12;}
.btn.orange:hover       {background-color:#E67E22;}
.btn.orange             {background-color:#D35400;}
.btn.red:hover          {background-color:#E74C3C;}
.btn.red                {background-color:#C0392B;}
.btn.silver:hover       {background-color:#ECF0F1;}
.btn.silver             {background-color:#BDC3C7;}
.btn.grey:hover         {background-color:#95A5A6;}
.btn.grey               {background-color:#7F8C8D;}



/* CARDS */
.card{
	color           : white;
	background-color: #3498DB;
	text-align      : center;
	display         : inline-block;
	padding : 0;
	width           : 1.7em;
	height          : 1.7em;
	line-height     : 1.7em;
	margin-right    : 15px;
	margin-bottom   : 15px;
}

.card.teal-l              {background-color:#1ABC9C;}
.card.teal                {background-color:#16A085;}
.card.green-l             {background-color:#2ECC71;}
.card.green               {background-color:#27AE60;}
.card.blue-l              {background-color:#3498DB;}
.card.blue                {background-color:#2980B9;}
.card.purple-l            {background-color:#9B59B6;}
.card.purple              {background-color:#8E44AD;}
.card.steel-l             {background-color:#34495E;}
.card.steel               {background-color:#2C3E50;}
.card.yellow-l            {background-color:#F1C40F;}
.card.yellow              {background-color:#F39C12;}
.card.orange-l            {background-color:#E67E22;}
.card.orange              {background-color:#D35400;}
.card.red-l               {background-color:#E74C3C;}
.card.red                 {background-color:#C0392B;}
.card.silver-l            {background-color:#ECF0F1;}
.card.silver              {background-color:#BDC3C7;}
.card.grey-l              {background-color:#95A5A6;}
.card.grey                {background-color:#7F8C8D;}



