



.topbar{
	position:fixed;
	background-color: #333333;
	border-bottom: 1px solid #555555;
	height:50px;
	width:100%;
	font-size: 0px;
	color: white;
}
	.topbar-left{
		float: left;
	}

	.topbar-right{
		float:right;
	}

	.topbar-icon{
		font-size: 15px;
		display:inline-block;
		vertical-align: top;
		cursor: pointer;
		text-align: center;

		border-left: 1px solid #999999;

		padding-right: 10px;
		padding-left: 10px;

	}
	.topbar-icon:hover{
		background-color: #000000;
	}

		.topbar-icon > i{
			font-size: 35px;
			line-height: 50px;
		}

		.topbar-icon-text{
			display : inline-block;
			white-space : nowrap;
			margin-left: 10px;
			vertical-align: top;
			text-transform: uppercase;
			font-size: 0.8em;
			line-height: 50px;
		}

	.topbar-githubIcon:hover{ color: #1ABC9C;}
	.topbar-rawIcon:hover   { color: #95A5A6;}
	.topbar-issueIcon:hover { color: #E74C3C;}
	.topbar-tweetIcon:hover { color: #3498DB;}
	.topbar-starIcon:hover  { color: #F1C40F;}
	.topbar-forkIcon:hover  { color: #2ECC71;}

.container{
	width:1020px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 50px;
	text-align: center;
}

.project{
	display: inline-block;
	text-align: center;
	margin-top: 50px;
	margin-bottom: 200px;

	/*border: 1px solid #999999;*/
	border-radius: 10px;
	background-color: #EEEEEE;

	padding-top: 20px;
	padding-bottom: 20px;
	padding-right: 40px;
	padding-left: 40px;

}
	.project-name{
		display: inline-block;
		vertical-align: middle;
		font-size: 80px;
	}

	.project-example{
		display: inline-block;
		vertical-align: middle;
	}

	.project-description{
		margin-top: 30px;
		margin-bottom: 50px;
		width: 500px;
		margin-right: auto;
		margin-left: auto;
	}

	.project-github{

	}

.documentation{
	background-color: white;
	width: 100%;
	text-align: left;


	height:3500px;
}



/* Editor block */

.code_result{
	display: inline-block;
	vertical-align: top;
	width: 300px;
	border: 1px solid black;
}

.CodeMirror{
	width:500px;
	border: 1px solid black;
	display: inline-block;
	vertical-align: top;
}
